<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Upload input timesteps</title>
</head>

<body>
  <div class="d-flex justify-content-center">
      <div class="row">
          <div class="col">
              <h2 class="mb-3" style="font-weight: 300">Select model</h2>
              <form action="/unet" method="GET" enctype="multipart/form-data" class="mb-3">
                  <button type="submit" class="btn btn-primary">UNET</button>
              </form>
              <form action="/conv-lstm-2" method="GET" enctype="multipart/form-data" class="mb-3">
                  <button type="submit" class="btn btn-secondary">CONV-LSTM-2</button>
              </form>
              <form action="/xnow" method="GET" enctype="multipart/form-data" class="mb-3">
                  <button type="submit" class="btn btn-success">XNOW</button>
              </form>
          </div>

      </div>
  </div>

  <div class="container">
    {% for i in range(timesteps_ahead) %}
    <div class="row">
      <div class="col">

        <div class="mb-3 mt-3">

          <h2 class="mb-3" style="font-weight: 300">Select input</h2>

          <form action="/xnow" method="POST" enctype="multipart/form-data" class="mb-3">
            <div class="form-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="timestep" id="input_1">
                  <label id="label_1" class="custom-file-label" for="input_1">Select input</label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Predict</button>
          </form>

        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row">
          <div class="col">
    {% if message %}
            <label id="result_label" class="custom-label">{{ message }}</label>
    {% endif %}
          </div>
    </div>
    <div class="row">
          <div class="col">
    {% if prediction %}
            <label id="prediction" class="custom-label">{{ prediction }}</label>
    {% endif %}
          </div>
    </div>
  </div>

</body>

<script type='text/javascript'>
    document.getElementById("input_1").onchange = function () {
        document.getElementById("label_1").innerHTML = this.value.split("\\").pop();
    };
</script>

</html>